.App {
  text-align: center;
}

.logo-img {
  height: 90px;
}
nav {
  background-color: #00F;
  overflow: hidden;
  padding: 1em;
  border-bottom: 1px solid #000;
}
nav a {
  color: #FFF;
}
nav a:visited {
  color: #FFF;
}
nav .nav-wide {
  display: none;
  margin: 0 auto;
}
nav .nav-wide .wide-div {
  text-align: center;
}
nav .nav-wide .wide-div a {
  text-decoration: none;
  display: inline-block;
  padding: 0 2em;
}
nav .nav-narrow i {
  float: left;
  cursor: pointer;
  color: #FFF;
}
nav .nav-narrow .narrow-links {
  display: none;
}
nav .nav-narrow .narrow-links a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}

@media (min-width: 480px) {
  nav .nav-wide {
    display: block;
  }
  nav .nav-narrow {
    display: none;
  }
}
